.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    max-width: 355px;

    h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}

.details-table {
    display: grid;
    gap: 16px 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-left: 1px solid #e0e0e0;
    padding-left: 16px;

    th {
        display: none;
    }

    tr {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    & td:first-child {
        color: #a6a6a6;
        font-size: 12px;
        line-height: 32px;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 30px;
    }

    & td {
        vertical-align: top;
        text-align: start;

        a {
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }
    }

    & td ul {
        list-style: none;

        padding: 0;
        margin: 0;
    }
}